[colors.normal]
black = '#1e1e1e'
red = '#ff5f59'
green = '#44bc44'
yellow = '#d0bc00'
blue = '#2fafff'
magenta = '#feacd0'
cyan = '#00d3d0'
white = '#ffffff'

[colors.bright]
black = '#535353'
red = '#ff7f9f'
green = '#00c06f'
yellow = '#dfaf7a'
blue = '#00bcff'
magenta = '#b6a0ff'
cyan = '#6ae4b9'
white = '#989898'

[colors.cursor]
cursor = '#ffffff'
text = '#000000'

[colors.primary]
background = '#000000'
foreground = '#ffffff'

[colors.selection]
background = '#5a5a5a'
text = '#ffffff'

[cursor]
style = "Beam"

[font]
size = {{ if (eq .chezmoi.os "darwin") }}18.0{{ else }}13.0{{ end }}

[font.bold]
family = "UDEV Gothic NF"
style = "Bold"

[font.bold_italic]
family = "UDEV Gothic NF"
style = "Bold Italic"

[font.italic]
family = "UDEV Gothic NF"
style = "Italic"

[font.normal]
family = "UDEV Gothic NF"
style = "Regular"

[shell]
# args = ["--login", "-c", "exec zellij attach -c default"]
args = ["--login", "-c", "exec tmux new -A -s default"]
program = "/usr/bin/zsh"

[window]
opacity = 0.9

[window.dimensions]
columns = 132
lines = 43

[window.padding]
x = 8
y = 8
