[color]
	ui = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
	hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks
[merge]
	conflictStyle = zdiff3
[forge]
	omitExpensive = true
[ghq]
	root = {{ .chezmoi.homeDir }}/src
[diff "cp932"]
	textconv = iconv -f cp932
[diff "sjis"]
	textconv = iconv -f sjis
[diff "nkf"]
	textconv = nkf
[diff "minjs"]
	textconv = js-beautify
	cachetextconv = true
[diff "mincss"]
	textconv = js-beautify --css
	cachetextconv = true
[include]
	path = config.local
